<p>Hello {{ username }},</p>
<p>
    In order to conserve space and costs for OpenScienceLab, user storage is
    set to be deleted after a period of inactivity.
    Your user storage for lab '<b>{{ lab_short_name }}</b>' is set to be permanently
    deleted on {{ volume_delete_time }} unless further action is taken.
    You will still have access to '<b>{{ lab_short_name }}</b>', but any existing
    data will be deleted.
    Your OpenScienceLab username and password will not be changed.
</p>
<p>To stop this from happening, you will need to start an OSL server.</p>
<p>
    1. Sign into <a href="{{ portal_domain_name }}">OpenScienceLab</a> and click on the "Go to lab" button for OpenSARLab.
</p>
<p>
    2. Click on <i>Start My Server</i>.
</p>
<p>3. Select and start any server profile.</p>
<p>4. Do not forget to stop your server when done. No other action is required.</p>
<p>
    Thank you,
    <br />
    Your OpenScienceLab Team
</p>
