<p>Hello {{ username }},</p>
<p>
    In order to conserve space and costs for OpenScienceLab, user storage is set to be deleted after a period of inactivity.
    To enforce this, your storage for lab '<b>{{ lab_short_name }}</b>' has been permanently deleted and cannot be retrieved.
    Your OpenScienceLab username and password have not changed.
</p>
<p>
    Thank you,
    <br />
    Your OpenScienceLab Team
</p>