# Required make variables
export AWS_DEFAULT_PROFILE=me
export DEPLOY_PREFIX=dd

# Infrastructure Configuration
export JUPYTER_HUB_DOCKER_TAG=test
export UI_IAM_USER="AWSReservedSSO_Project-Admin_012345678910ABCD"
export LAB_SHORT_NAME="dd"
export ALLOWED_LAB_PROFILES="sar"
export ADMIN_USERS="nobody"
export PORTAL_DOMAINS="<CLOUDFRONT-URL>"

# volume Management Lambda - default values listed
export VOLUME_CRON_SCHEDULE="0 * * * ? *"
export SNAPSHOT_WARNING_DAYS="5"

