# Required make variables
export AWS_DEFAULT_PROFILE=me
export DEPLOY_PREFIX=dd

# Infrastructure Configuration
export JUPYTER_HUB_IMAGE_PATH="ghcr.io/asfopensarlab/opensciencelab-jupyterhub"
export JUPYTER_HUB_IMAGE_TAG="test"
export EXECWHACKER_CRON_IMAGE_PATH="ghcr.io/asfopensarlab/opensciencelab-update-execwhacker"
export EXECWHACKER_CRON_IMAGE_TAG="test"
export IS_CRYPTNONO_ENABLED="true"
export UI_IAM_USER="AWSReservedSSO_Project-Admin_012345678910ABCD"
export LAB_SHORT_NAME="dd"
export ALLOWED_LAB_PROFILES="sar"
export ADMIN_USERS="nobody"
export PORTAL_DOMAINS="<CLOUDFRONT-URL>"

# volume Management Lambda - default values listed
export VOLUME_CRON_SCHEDULE="0 * * * ? *"
export SNAPSHOT_WARNING_DAYS="5"

# Volume and snapshot lifecycle times
export DAYS_TILL_VOLUME_DELETION=2
export DAYS_TILL_SNAPSHOT_DELETION=7

# For running storage management lambda outside AWS
export AWS_CLI_PATH=/usr/local/bin/aws
export SSO_SECRET_ARN=arn:aws:secretsmanager:us-west-2:22333444455555:secret:sso-token/cluster-token-id

#
# Lab Profiles
#
# Possible profiles that a user can select to start a lab for all labs.
# The actual profiles available to the lab is determined by the AVAILABLE_LAB_PROFILES GitHub environment var
# Among those profiles available to the lab, the user will get those assigned from within the Portal
# 
# [ lab_profiles."my_profile_name" ]  # The profile name should be in quotes if it contains a decimal
# description = "Hello world"
# image_url = "http://..."  # FQDN path to JupyterLab image that will be started"
# node = ""  # Name of the node that the image will be starting on. Needs to match any defined below."
# hook_script = ""  # The hook script to run on server startup. Defaults to None (no script ran).
# storage_capacity = ""  # The size of the EBS volume used for user's home directory. Defaults to 10Gi. This cannot be shrunk - only expanded. If the config value is smaller than current storage values, it will be ignored. 
#
export PROFILE_DEFINTIONS=$(cat << 'EOF'
[ "m6a.large" ]
description = "Hello m6a.large"
image_url = "ghcr.io/asfopensarlab/deployment-opensarlab-container_sar:test"
node = "m6a-large"
hook_script = "default.sh"
storage_capacity = "15Gi"

[ "m6a.xlarge" ]
description = "Hello m6a.xlarge"
image_url = "ghcr.io/asfopensarlab/deployment-opensarlab-container_sar:test"
node = "m6a-xlarge"
hook_script = "default.sh"
storage_capacity = "15Gi"

[ "sar" ]
description = "Hello, there sar"
image_url = "ghcr.io/asfopensarlab/deployment-opensarlab-container_sar:test"
node = "sar"
hook_script = "default.sh"
storage_capacity = "15Gi"

[ "Debug Server Profile" ]
description = "Debug"
image_url = "ghcr.io/asfopensarlab/deployment-opensarlab-container_sar:test"
node = "m6a-large"
storage_capacity = "15Gi"

EOF
)

#
# Nodes
#
# Possible k8s nodes that jupyterlab servers can start on for all labs.
# Nodes are selected based on the lab profile as defined above.
# 
#
# [ lab_profiles."my-url-friendly-node-name" ]  # Note that the node name must be url friendly since nodes are assigned domain paths by k8s
# required = boolean  # Optional. true if required regardless if a node uses it. Defaults to false.
# node_type = "core | user"
# instance = ["t3a.large", "other_instance_size"]  # The first instance size in the instance list will be the first to be tried, followed by any others in that order.
# group_desired_size = number
# group_min_size = number  # Defaults to zero
# group_max_size = number  # Must be greater than one
# root_volume_size = number  # Size in GiB of root EC2 volume. Default is 20. This number must usually be 20 or greater.
#
export NODE_DEFINTIONS=$(cat << 'EOF'
[ core ]
required = true
node_type = "core"
instance = ["t3a.large"]
group_desired_size = 1
group_min_size = 1
group_max_size = 1

[ sar ]
node_type = "user"
instance = ["m5a.large", "m6a.large"]
group_desired_size = 0
group_min_size = 0
group_max_size = 5

[ m6a-large ]
node_type = "user"
instance = ["m6a.large"]
group_desired_size = 0
group_min_size = 0
group_max_size = 5
root_volume_size=21

[ m6a-xlarge ]
node_type = "user"
instance = ["m6a.xlarge"]
group_desired_size = 0
group_min_size = 0
group_max_size = 2

EOF
)