# Lab sections can be empty. They will inherit the "defaults" section.
[lab-name-1]

[lab-name-2]
# This environment will override the default environment
environment = "lab-env-1"

# The "defaults" lab is required. All labs inherit the following values unless overriden in their own sections.
[defaults]
environment = ""  # The name of the GitHub environment that contains AWS account numbers and other info. This is currently just descruptive

  # TOML is not whitespace sensitive. The tabbing here is simply for readability.

  # Lab profiles are yet to be implemented. This is an example of how they will look.
  [[defaults.lab_profiles]]
  name = ""  # The name of the profile the user will see.
  description = ""  # The profile description the user will see.
  image_url = ""  # The public or credentialed url for the singleuser image.
  node = ""  # The name of the node. Must match the name as given in the nodes section.

  [[defaults.nodes]]
  name = ""  # Nodes are unique by name. The node name must be url friendly.
  node_type = "user"  # Node type can be "user" or "core"
  instance = []  # List of EC2 instance types with the most preferred being listed first
  group_desired_size = 0  # The desired amount of running nodes. Defaults to zero.
  group_min_size = 0  # Minimum number of active nodes running. Defaults to zero.
  group_max_size = 1  # Maximum number of active nodes running. Must be greater than zero.

  # The core node is required for JupyterHub and other critical pods. 
  [[defaults.nodes]]
  name = "core"
  node_type = "core"
  instance = ["t3a.medium"]
  group_min_size = 1
  group_max_size = 1
